* {
    padding:0px;
	margin:0px;
  }
  .container 
  {
     width:50%;
	 height:400px;
	 margin:auto;
	 margin-top:50px;
	 border:2px solid black;
  }
  .content1 
  {
	position:relative;
	display:flex;
  }
  .img1 img
  {
	height:400px;
	width:250px;
  }	
  a 
  {
	text-decoration:none;
	display:inline-block;
	background-color:black;
	opacity:0.5;
	height:400px;
	width:226px;
	margin-left:10px;
  }
  .content2
  {
	position:absolute;
	top:80px;
	background-color:white;
	height:340px;
	width:380px;
  }
  .cont  
  {
	margin-top:20px;
	margin-left:10px;
	text-align:left;
  }
  .cont h1
  {
	font-size:25px;
  }
  .cont p
  {
	font-size:20px;
  }
  .content3 
  {
	background-color:lime;
	height:35px;
	position:absolute;
	top:410px;
	left:300px;
  }
  .content3 i 
  {
	color:white;
	padding-left:10px;
	padding-top:8px;
  }
  .col1
  {
	width:8.33%;
  }
  .col2
  {
	width:16.66%;
  }
  .col3
  {
	width:25%;
  }
  .col4
  {
	width:33.32%;
  }
  .col5
  {
	width:41.65%;
  }
  .col6
  {
	width:50%;
  }
 .col7
  {
	width:58.31%;
  }
  .col8
  {
	width:66.64%;
  }
  .col9
  {
	width:75%;
  }
  .col10
  {
	width:83.3%;
  }
  .col11
  {
	width:91.6%;
  }
  .col12
  {
	width:100%;
  }
  @media(max-width:992px)
  {
	a
	{
	  width:240px;
    }
	.content2 
	{
	  left:320px;
	}
	.content3 
	{
      left:300px;
	}
 }
  @media(min-width:1024px)
  {
   .collg1
   {
	 width:8.33%;
   }
   .collg2
   {
	 width:16.66%;
   }
   .collg3
   {
	 width:25%;
   }
   .collg4
   {
	 width:33.32%;
   }
   .collg5
   {
	 width:41.65%;
   }
   .collg6
   {
	 width:50%;
   }
   .collg7
   {
	 width:58.31%;
   }
   .collg8
   {
	 width:66.64%;
   }
   .collg9
   {
	 width:75%;
   }
   .collg10
   {
	 width:83.3%;
   }
   .collg11
   {
	 width:91.6%;
   }
   .collg12
   {
	 width:100%;
   }  
	a
	{
	  width:250px;
    }
    .content2 
	{
      left:380px;
    }
    .content3 
    {
      left:350px;
    }	  
  }
 @media(min-width:1200px)
  {
  .colmd1
  {
	width:8.33%;
  }
  .colmd2
  {
	width:16.66%;
  }
  .colmd3
  {
	width:25%;
  }
  .colmd4
  {
	width:33.32%;
  }
  .colmd5
  {
	width:41.65%;
  }
  .colmd6
  {
	width:50%;
  }
 .colmd7
  {
	width:58.31%;
  }
  .colmd8
  {
	width:66.64%;
  }
  .colmd9
  {
	width:75%;
  }
  .colmd10
  {
	width:83.3%;
  }
  .colmd11
  {
	width:91.6%;
  }
  .colmd12
  {
	width:100%;
  }
  .img1 img 
  {
	width:315px;
  }
  a
  {
	width:310px;
  }	 
  .content2 
  {
    left:550px;
  }	
  .content3 
  {
    left:520px;
  }	
 }
 @media(min-width:1440px)
  {
  .colms1
  {
	width:8.33%;
  }
  .colms2
  {
	width:16.66%;
  }
  .colms3
  {
	width:25%;
  }
  .colms4
  {
	width:33.32%;
  }
  .colms5
  {
	width:41.65%;
  }
  .colms6
  {
	width:50%;
  }
 .colms7
  {
	width:58.31%;
  }
  .colms8
  {
	width:66.64%;
  }
  .colms9
  {
	width:75%;
  }
  .colms10
  {
	width:83.3%;
  }
  .colms11
  {
	width:91.6%;
  }
  .colms12
  {
	width:100%;
  }
  .img1 img 
  {
	width:360px;
  }
  a
  {
	width:340px;
  }	
  .content2 
  {
    left:670px;
  }
  .content3 
  {
    left:620px;
  }	
 }
 
  
  